
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #0b0b1a; 
    color: white;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    margin-right: 15px;
}

.logo span {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    margin-left: 40px;
}

.navbar a {
    color: #a2a2ff;
    text-decoration: none;
    font-weight: bold;
}

.user-icon {
    width: 45px;
    height: 45px;
    background-color: #8b80b6;
    border-radius: 50%;
}


.container {
    padding: 80px;
}

.texto {
    max-width: 550px;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 45px;
    margin-bottom: 25px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #cccccc;
}

.botao {
    background-color: #2a1b63;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.botao:hover {
    background-color: #3b2885;
}
